{% extends "base.html" %}

{% block content %}
<main class="form-signin w-100 m-auto">
    {{ error }}
    <form method="POST">{% csrf_token %}
      <h1 class="h3 mb-3 fw-normal">サインアップ</h1>
  
      <div class="form-floating">
        <label for="floatingInput">Username</label>
        <input type="text" class="form-control" id="floatingInput" placeholder="username" name="username">
        
      </div>
      <div class="form-floating">
        <label for="floatingInput">Email address</label>
        <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com" name="email" >
        
      </div>
      <div class="form-floating">
        <label for="floatingPassword">Password</label>
        <input type="password" class="form-control" id="floatingPassword" placeholder="Password" name="password">
      </div>
      <style>.form-floating {padding-bottom: 20px;}</style>

      <button class="btn btn-primary w-100 py-2" type="submit">signup</button>
      <a class="btn btn-primary mt-3" href="{% url 'login' %}" role="button">ログインはこちら</a>
    </form>
  </main>

{% endblock content %}